.vcenter {
  text-align: center;
  position: absolute;
  left: 43%;

  top: 40%;
}
#btn {
  position: absolute;
  top: 50%;
  left: 47%;
  right: 50%;
  font-size: larger;
}
/* 
.bg {
  background-image: url("../img/graffiti.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
